Repository voxpupuli/puppet-pkgng, pull requests merged in 2023-08, with the labels that each got.

#127 Add support for setting `mirror_type` to `none`
  REFERENCE.md
  manifests/init.pp
  manifests/repo.pp
  types/mirror_type.pp
Labels: enhancement

#128 Fix EPP syntax error
  templates/repo.epp
Labels: bug

#129 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
  spec/unit/facter/pkg_package_updates_spec.rb
  spec/unit/facter/pkg_updates_spec.rb
  spec/unit/facter/pkg_vulnerable_packages_spec.rb
  spec/unit/facter/pkg_vulnerables_spec.rb
Labels: modulesync
